<section class='flex-center-vertical cover {{#if @blog.cover}} cover--yes' style='background-image: url({{@blog.cover}}){{else}}cover--no{{/if}}'>
    <div class='contentainer'>
        <h1 class='cover__title'>
            {{@blog.title}}
        </h1>
        <p class="cover__description">
            {{@blog.description}}
        </p>

        <a href='#' class='cover__icon icon-arrow-down'></a>
    </div>
</section>