<header class='header'>
    <a href='{{@blog.url}}'>
        <figure class='header__alepht'>
            <img src="" alt="" class='header__img'>
            <figcaption class='header__title'>
                <p class='header__text'>{{@blog.title}}</p>
            </figcaption>
        </figure>
    </a>
</header>