<div class="navigation-mobile">
    <ul class="navigation-mobile__list">
        <li class="navigation-mobile__item">
            <a href="" class="navigation-mobile__option">
                <i class="navigation-mobile__icon icon-frontend"></i>
                <span class="navigation-mobile__text">Frontend</span>
            </a>
        </li>
        <li class="navigation-mobile__item">
            <a href="" class="navigation-mobile__option">
                <i class="navigation-mobile__icon icon-backend"></i>
                <span class="navigation-mobile__text">Backend</span>
            </a>
        </li>
        <li class="navigation-mobile__item">
            <a href="" class="navigation-mobile__option">
                <i class="navigation-mobile__icon icon-server"></i>
                <span class="navigation-mobile__text">DevOps</span>
            </a>
        </li>
        <li class="navigation-mobile__item">
            <a href="" class="navigation-mobile__option">
                <i class="navigation-mobile__icon icon-database"></i>
                <span class="navigation-mobile__text">BD</span>
            </a>
        </li>
    </ul>
</div>