{{!-- Navigation-mobile --}}

<div id='navigation-mobile' class='navigation-mobile navigation-mobile-active'>
    <ul class='navigation-mobile__list'>
        
        {{!-- Frontend --}}
        <li class='navigation-mobile__item'>
            <a href='/tag/frontend' class='navigation-mobile__option'>
                <i class='navigation-mobile__icon icon-frontend'></i>
                <span class='navigation-mobile__text'>Frontend</span>
            </a>
        </li>
        
        {{!-- Backend --}}
        <li class='navigation-mobile__item'>
            <a href='/tag/backend' class='navigation-mobile__option'>
                <i class='navigation-mobile__icon icon-backend'></i>
                <span class='navigation-mobile__text'>Backend</span>
            </a>
        </li>
        
        {{!-- DevOps --}}
        <li class='navigation-mobile__item'>
            <a href='/tag/devops' class='navigation-mobile__option'>
                <i class='navigation-mobile__icon icon-server'></i>
                <span class='navigation-mobile__text'>DevOps</span>
            </a>
        </li>
        
        {{!-- Database --}}
        <li class='navigation-mobile__item'>
            <a href='/tag/base-de-datos' class='navigation-mobile__option'>
                <i class='navigation-mobile__icon icon-database'></i>
                <span class='navigation-mobile__text'>BD</span>
            </a>
        </li>

    </ul>
</div>