/*------------------------------------*\
    5. $OCSS
\*------------------------------------*/

// ----------- $Elements -----------

// Font titillium class
.font-titillium
    font-family $font-titillium
    
// Font Lato class
.font-lato
    font-family $font-lato
    
// Arrow up class
.arrow-up
    position fixed
    z-index 99
    bottom 0
    right 1rem
    background-color $color-dark
    color $color-light
    border-radius 3px 3px 0 0
    font-size 1.3rem
    padding 0.7rem 0.9rem
    
// Video responsive class
.video
    height 0
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative
    margin 1.5rem 0
    
    iframe
    object
    embed
    video
        height 100%
        left 0
        position absolute
        top 0
        width 100%





// ----------- $Lists -----------
        
// Lists with class (list)
ul[class*='list'],
ol[class*='list']
    list-style none
    margin 0
    padding 0





// ----------- $FlexBox -----------
    
// Elements with class (flex-)
div[class*='flex-'],
section[class*='flex-'],
article[class*='flex-']
    display flex

// Elements with class (between)
div[class*='between'],
section[class*='between'],
article[class*='between']
    justify-content space-between
    
// Elements with class (around)
div[class*='around'],
section[class*='around'],
article[class*='around']
    justify-content space-around
    
// Elements with class (center-horizontal)
div[class*='center-horizontal'],
section[class*='center-horizontal'],
article[class*='center-horizontal']
    justify-content center

// Elements with class (center-vertical)
div[class*='center-vertical'],
section[class*='center-vertical'],
article[class*='center-vertical']
    align-items center





// ----------- $Media queries -----------
    
@media $mq-tablet-md

    // Wrap-center class
    .wrap-center
        margin 0 auto
        max-width 680px
        
@media $mq-desktop-xs

    // Wrap-center class
    .wrap-center
        max-width 800px
    
    // Arrow-up class
    .arrow-up
        right 3rem
        transition 0.3s
        
        &:hover
            background-color $color-blue-A
        
@media $mq-desktop-sm

    // Wrap-center class
    .wrap-center
        max-width 750px