h1
h2
h3
h4
h5
h6
    font-family $font-titillium

body
    font-family $font-lato
    
a
    text-decoration none
    cursor pointer

button
    background none
    border none
    outline none
    cursor pointer

figure
    margin 0
