{{!-- Default template --}}
{{!< default}}

{{! Cover template }}
{{> 'cover-author'}}

{{! Posts of author }}
<main class='loop-content wrap-center' role='main' id='main'>
    
    {{! Posts (loop) }}
    {{> 'loop'}}

</main>

{{! Pagination template }}
{{pagination}}