{{!-- Default template --}}
{{!< default}}

{{!-- Post block --}}
{{#post}}

{{!-- Cover template --}}
{{> 'cover-page'}}

{{! Static page (structure) }}
<main class='content' role='main' id='main'>
    
    {{! Static page (content) }}
    <article class='write-post wrap-center'>
        
        {{! Content }}
        <section class='post__content'>
            {{content}}
        </section>

    </article>

</main>

{{/post}}
