{{!-- Default template --}}
{{!< default}}

{{!-- Post block --}}
{{#post}}

{{!-- Cover template --}}
{{> 'cover-post'}}

{{! Post page (structure) }}
<main class='content' role='main' id='main'>
    
    {{! Post page (content) }}
    <article class='write-post wrap-center'>
        
        {{! Content }}
        <section class='post__content'>
            {{! Addthis }}
            <div class="addthis_inline_share_toolbox"></div>

            {{content}}
            
            {{! Addthis }}
            <strong class='social-title font-titillium'>¿Te gustó el artículo?, por favor, ayudame a compartir para que otras personas puedan leerlo.</strong>

            <div class="addthis_inline_share_toolbox"></div>
        </section>

    </article>
    
    {{! Post page (comments) }}
    <aside class='comments wrap-center'>

        {{! Comments }}
        {{> 'disqus'}}

    </aside>

</main>

{{/post}}
