{{!-- Default template --}}
{{!< default}}

{{!-- Post block --}}
{{#post}}

{{!-- Cover template --}}
{{> 'cover-post'}}

{{! Post page (structure) }}
<main class='content' role='main' id='main'>
    
    {{! Post page (content) }}
    <article class='write-post wrap-center'>
        
        {{! Content }}
        <section class='post__content'>
            {{content}}
        </section>

    </article>
    
    {{! Post page (comments) }}
    <aside class='comments wrap-center'>

        {{! Comments }}
        {{> 'disqus'}}

    </aside>

</main>

{{/post}}
