.header
    // background-color $color-dark
    color white
    padding 1.2rem 1.3rem
    height 47px
    position absolute
    width 100%
    box-sizing border-box
    z-index 5
    
.header__alepht
    display inline-block
    margin 0.2rem 0 0 0
    .header__img
        width 45px
        
.header__title
    font-size 1.6rem
    margin 0
    display inline-block
    color $color-light
    
.header__title-logo--no
    padding 0 0 0.2rem 0
    border-bottom 3px solid $color-blue-A
    
.header__title-logo--yes
    vertical-align top
    margin 0.1rem 0 0 0.4rem
    
    
.header__options
    margin 0.4rem 0 0 0
    
    .header__option
        display inline-block
        color $color-light
        
        &:first-child
            margin 0 0.7rem 0 0
        
        .header__icon
            font-size 1.4rem
            display block
            text-align center
        
        .header__text
            font-weight 300
            font-size 0.7rem
    
