.loop-content
    padding 0 1.5rem
  
.loop
    margin 2rem 0
    .loop__svg
        display none
        
.loop__header
    .loop__tag
        color $color-blue-B
        font-weight 700
        display inline-block
        margin 0 0 0.5rem 0
        
    .loop__title
        margin 0 0 0.7rem 0
        line-height 2.2rem
        
        .loop__link
            color $color-dark
            font-size 2rem
            
    .loop__author
        .loop__img
            width 33px
            border-radius 50%
            
        .loop__name
            color $color-gray-A
            display inline-block
            vertical-align top
            margin 0.4rem 0 0 0.3rem
            text-transform uppercase
            font-weight 300
            
.loop__words
    color $color-gray-B
    
    .loop__text
        line-height 1.5rem
    