.loop-content
    padding 0 1.5rem
  
.loop
    margin 2rem 0
    .loop__extra
        display none
        
.loop__header
    .loop__tag
        color $color-blue-B
        font-weight 700
        display inline-block
        margin 0 0.5rem 0.5rem 0
        text-transform capitalize
        
    .loop__title
        margin 0 0 0.7rem 0
        line-height 2.2rem
        font-size 2rem
        
        .loop__link
            color $color-dark
            
    .loop__author
        display inline-block
        .loop__img
            width 33px
            border-radius 50%
            
        .loop__name
            color $color-gray-A
            display inline-block
            vertical-align top
            margin 0.4rem 0 0 0.3rem
            text-transform uppercase
            font-weight 300
            transition 0.3s
            
            &:hover
                color $color-gray-C
            
.loop__words
    color $color-gray-B
    
    .loop__text
        line-height 1.5rem
        
@media $mq-tablet-xs
    .loop__header
        .loop__title
            .loop__link
                font-size 2.2rem
                
@media $mq-tablet-sm
    .loop__header
        .loop__title
            .loop__link
                font-size 2.5rem
                
@media $mq-tablet-md
    .loop__words
        .loop__text
            font-size 1.1rem
            font-weight 300
            
@media $mq-desktop-xs
    .loop
        padding 0 0 0 2rem
        border-left 1px solid $color-gray-A
        margin 6.5rem 0
        
    .loop__header
        .loop__tag
            margin 0 0.5rem 1.5rem 0
            transition 0.3s
            
            &:hover
                color $color-blue-D
            
@media $mq-desktop-sm
    .loop
        position relative
        
        .loop__extra
            display block
            position absolute
            left -8rem
            top 1rem
            
            .loop__time
                color $color-gray-A
                display block
                letter-spacing 2px
                
            .loop__svg
                font-size 2.5rem
                margin 1rem 0 0 0
                display block
                text-align right