.pagination
    text-align center
    padding 1rem 0
    
    .pagination__prev,
    .pagination__next
        color $color-gray-A
        font-size 2rem
        
    .pagination__number
        color $color-gray-A
        vertical-align top
        margin 0.5rem
        display inline-block
        
        .pagination__page
            vertical-align top
            color $color-gray-B
            
@media $mq-desktop-xs
    .pagination
        .pagination__prev,
        .pagination__next
            font-size 2.5rem
            
        .pagination__number
            font-size 1.2rem