.write-post
.comments
    padding 1rem
    
.write-post
    
    p
    ul
    ol
        color $color-gray-B
        line-height 1.5rem
        
    a
        color $color-blue-A
        
    img
        width 100%
        
        
    strong
        color $color-dark
        
    h2
    h3
    h4
    h5
    h6
        color $color-dark
        
    h2
    h3
        margin 1.9rem 0 0.5rem 0
        line-height 2.4rem
        
    h2
        font-size 1.8rem
        
    h3
        font-size 1.4rem
        
    blockquote
        color $color-gray-A
        border-left 3px solid $color-gray-A
        padding 0 0 0 0.5rem
        margin 0
        
        p
            color $color-gray-A
        
    hr
        background-color $color-gray-A
        
@media $mq-tablet-xs
    .write-post
    
        h2
            font-size 2.1rem
                
        h3
            font-size 1.6rem
            
        img
            width auto
            margin 0 auto
            display block
            max-width 550px
            

@media $mq-tablet-sm
    .write-post
        img
            max-width 610px
            
@media $mq-tablet-md
    .write-post
    .comments
        padding 2rem 0
        
    .write-post
        
        p
        p
        ul
        ol
            font-size 1.1rem
        
        h2
            font-size 2.3rem
            line-height 3.2rem
        
        h3
            font-size 1.9rem
            line-height 3.2rem
            
        img
            max-width 680px
            
@media $mq-desktop-xs
    .write-post
        p
        p
        ul
        ol
            line-height 1.8rem
            
        h2
            font-size 2.5rem
        
        h3
            font-size 2rem
            
        img
            max-width 800px
        
@media $mq-desktop-sm
    .write-post
        img
            max-width 750px