ul[class*='list'],
ol[class*='list']
    list-style none
    margin 0
    padding 0
    
.font-titillium
    font-family $font-titillium
    
.font-lato
    font-family $font-lato
    
div[class*='flex-'],
section[class*='flex-'],
article[class*='flex-']
    display flex

div[class*='between'],
section[class*='between'],
article[class*='between']
    justify-content space-between
    
div[class*='around'],
section[class*='around'],
article[class*='around']
    justify-content space-around
    
div[class*='center-horizontal'],
section[class*='center-horizontal'],
article[class*='center-horizontal']
    justify-content center
    
div[class*='center-vertical'],
section[class*='center-vertical'],
article[class*='center-vertical']
    align-items center
    
.arrow-up
    position fixed
    z-index 99
    bottom 0
    right 1rem
    background-color $color-dark
    color $color-light
    border-radius 3px 3px 0 0
    font-size 1.3rem
    padding 0.7rem 0.9rem
    
.video
    height 0
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative
    margin 1.5rem 0
    
    iframe
    object
    embed
    video
        height 100%
        left 0
        position absolute
        top 0
        width 100%
    
@media $mq-tablet-md
    .wrap-center
        margin 0 auto
        max-width 680px
        
@media $mq-desktop-xs
    .wrap-center
        max-width 800px
        
    .arrow-up
        right 3rem
        transition 0.3s
        
        &:hover
            background-color $color-blue-A
        
@media $mq-desktop-sm
    .wrap-center
        max-width 750px