// Fonts

$font-titillium = 'Titillium Web', sans-serif;
$font-lato = 'Lato', sans-serif;

// Colors

$color-light = #E8F1F2

$color-blue-A = #1B98E0
$color-blue-B = #247BA0
$color-blue-C = #006494
$color-blue-D = #13293D

$color-gray-A = #9D9B9C
$color-gray-B = #7F7F7F

$color-dark = #1E252A
