// Fonts

$font-titillium = 'Titillium Web', sans-serif;
$font-lato = 'Lato', sans-serif;

// Colors

$color-light = #E8F1F2

$color-blue-A = #1B98E0
$color-blue-B = #247BA0
$color-blue-C = #006494
$color-blue-D = #13293D

$color-gray-A = #9D9B9C
$color-gray-B = #7F7F7F

$color-dark = #1E252A


// ----------- Phone Extra small -----------

$phone-xs = 320px
$mq-phone-xs = 'only screen and (min-width:' + $phone-xs + ')'

// ----------- Phone Small -----------

$phone-sm = 360px
$mq-phone-sm = 'only screen and (min-width:' + $phone-sm + ')'

// ----------- Phone Medium -----------

$phone-md = 375px
$mq-phone-md = 'only screen and (min-width:' + $phone-md + ')'

// ----------- Phone Large -----------

$phone-lg = 412px
$mq-phone-lg = 'only screen and (min-width:' + $phone-lg + ')'

// ----------- Tablet Extra small -----------

$tablet-xs = 600px
$mq-tablet-xs = 'only screen and (min-width:' + $tablet-xs + ')'

// ----------- Tablet Small -----------

$tablet-sm = 640px
$mq-tablet-sm = 'only screen and (min-width:' + $tablet-sm + ')'

// ----------- Tablet Medium -----------

$tablet-md = 768px
$mq-tablet-md = 'only screen and (min-width:' + $tablet-md + ')'

// ----------- Desktop -----------

$desktop = 1200px
$mq-desktop = 'only screen and (min-width:' + $desktop + ')'