button[class*=btn-],
a[class*=btn-]
    padding 0.5rem 1.5rem
    font-size 0.9rem
    font-weight 300
    transition 0.3s

.btn-light
    button-style($color-light, none, $color-light)
    
.btn-blue-A
    button-style($color-blue-A, none, $color-blue-A)
    
.btn-blue-B
    button-style($color-blue-B, none, $color-blue-B)
        
.btn-gray-A
    button-style($color-gray-A, none, $color-gray-A)
    
.btn-gray-B
    button-style($color-gray-B, none, $color-gray-B)
    
.btn-dark
    button-style($color-dark, none, $color-dark)