.navigation-mobile
    position fixed
    z-index 100
    bottom 0
    width 100%
    box-sizing border-box
    border-top 1px solid $color-dark
    padding 0.5rem 0
    background-color $color-light
    
.navigation-mobile__list
    display flex
    justify-content space-around

.navigation-mobile__item
    text-align center
    .navigation-mobile__icon
        display block
        font-size 1.5rem
        color $color-dark
        
    .navigation-mobile__text
        font-size 0.9rem
        font-weight 300
        color $color-dark
        
@media $mq-tablet-md
    .navigation-mobile
        display none
    